<section class="section">
	<div class="content-box">
		<div class="form-placeholder">
			<div class="content-box">
			<p>Callback Url format: https://yourdomain.com/callback</p>
				{{ include('views/registration/forms/subscription-final.html.twig', {
              form_identity_followup: form_identity_followup
          }) }}
			</div>
		</div>
	</div>
</section>