{% extends 'index.html.twig' %}

{% block title %}Instance description
{% endblock %}

{% block body %}
<section class="section">
    <p>
        Erre itt azert van szükseg, mert ezen az oldalon belül is lehet olyan tartalom,
        amelyik csak bejelentkezes utan elerhetö a felhasznalonak.
    </p>
    <p>
        Tulajdonkeppen, ha egy felhasznalo megrendelte valamelyik "Business Package-t", akkor
        az ahhoz tartozo tartalom, csak az ezen az oldalon valo regisztracio es bejelentkezes utan
        erheto el.
    </p>
    <p>
        <strong>
        Tehat ezt a celt szolgalja az instance regisztracioja. Bejelentkezes/Regisztracio
        a User alatt elerheto
        </strong>
    </p>
    </section>
{% endblock %}