{% extends 'index.html.twig' %}

    {% block title %}Login
{% endblock %}

{% block body %}
    <section class="section" style="text-align:center">
        <h2>Zero Intrusion Lock & Layered Entcryption</h2>
        <p>
            The Secure device registration to the on touch Zero Intrusion system is ready.
        </p>
        <p>
            You can try it straight ahead. For example: log out, start the mobile app, and log in again.
        </p>
        {{ userEmail }}
        {{ userPublicId }}
        <div id="display"></div>
    </section> 


<script>
    var userPublicId = "{{ userPublicId|e('js') }}";
    var userEmail = "{{ userEmail|e('js') }}";
    var key = "oneTouchUsers";

    function setOneTouchUsers(userPublicId, email, key) {
        const value = localStorage.getItem(key);
        const newUser = { userPublicId, email };
        if (!value) {
            localStorage.setItem(key, JSON.stringify([newUser]));
            return;
        }
        try {
            const users = JSON.parse(value);
            if (Array.isArray(users)) {
                const exists = users.some(u => u.userPublicId === userPublicId && u.email === email);
                if (!exists) {
                    users.push(newUser);
                    localStorage.setItem(key, JSON.stringify(users));
                }
            } else {
                localStorage.setItem(key, JSON.stringify([newUser]));
            }
        } catch (e) {
            console.error('[ExtensionStorageService] Error parsing oneTouchUsers for set operation:', e);
        }
    }
    setOneTouchUsers(userPublicId, userEmail, key);
</script>


{% endblock %}