{% extends 'index.html.twig' %}

    {% block title %}Login
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
{% endblock %}

{% block body %}
    <section class="section" style="text-align:center">
        <h2>Zero Intrusion Lock & Layered Entcryption</h2>
        
        <p>
            Secure your identity with Zero Intrusion
            The future of identification is already here.
            Register and verify your identity without typing a single word.
            Simply download the ZeroIntrusion app and scan the QR code — it's that easy.
            No passwords, no hassle — just one tap to access.
        </p>
        
      <div class="qr-container">
        <h2 id="response"></h2>
        <img src="data:image/png;base64,{{ qrCode }}" alt="QR Registration Code">
    </div>
        
    </section> 

{% endblock %}