{% extends 'index.html.twig' %}


{% block title %}Login
{% endblock %}

{% block body %}
    <section class="section" style="text-align:center">
        <h2>Logged out success</h2>
    </section>
{% endblock %}