{{form_start(form_identity_followup, {
			action: path('instance_registration_follow_up'),
			method: 'POST' }) }}

{{form_widget(form_identity_followup)}}

<button type="submit">Registration finalization</button>

{{form_end(form_identity_followup)}}
